/*---------- 
    Reset
------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*----------
    Debug Zone
------------*/
.debug nav{
    min-height: 80px;
    background-color: blue;
}

.debug .container{
    min-height: 100px;
    background-color: red;
}

.debug .jumbo{
    min-height: 500px;
    background-color: green;
}

.debug .container.jumbo-text{
    min-height: 500px;
    background-color: violet;
}
/*----------
    Debug Zone
------------*/

/*----------
    Common
------------*/

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-color: #255EE8;
    margin-bottom: 100px;
}

footer{
    background-color: #23272a;
    color: white;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

h4,h5{
    color: #7289da;
    margin-bottom: 10px;
}

p{
    font-size: 18px;
    font-weight: 300;
}

img{
    width: 100%;
}

ul{
    font-size: 15px;
    list-style: none;
}

li{
    margin-bottom: 15px;
}
/*----------
    Nav-bar
------------*/

nav{
    padding: 20px 0px;
}

.logo-elem,.login{
    width: 20%;
    float: left;
}

.main-nav, .central-section{
    padding-top: 10px;
    width: 60%;
    float: left;
}

.main-nav ul{
    text-align: center;
}

.main-nav ul li{
    display: inline-block;
}

.main-nav ul li a{
    color: white;
    text-decoration: none;
    margin-right: 45px;
}

.login{
    padding-right: 10px;
    text-align: right;
}

.btn-small{
    border: 0px;
    border-radius: 20px;
    padding: 10px 12px;
}

/*----------
    /Nav-bar
------------*/

/*----------
    Jumbo
------------*/

.jumbo{
    position: relative;
    height: 650px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.container.jumbo-text{
    width: 30%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
}

.jumbo-text h1{
    font-size: 65px;
    margin-bottom: 45px;
}

.jumbo-text p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.btn{
    border: 0px;
    padding: 15px;
    border-radius: 20px;
    margin-right: 30px;
}

.btn-black{
    background-color: black;
    color: white;
}

i{
    margin-right: 10px;
}


/*----------
    /Jumbo
------------*/


/*----------
    Main
------------*/

section{
    padding: 50px 0px;
    margin-bottom: 40px;
}

section:nth-child(2n){
    background-color: #f6f6f6;
}

section:last-child{
    margin-bottom: 0px;
}

.col:first-child{
    float: left;
}

.col:last-child{
    float: right;
}

.col-pic{
   width: 60%; 
}

.col-text{
    width: 25%;
    padding-top: 32px;
}

.lst-section{
    text-align: center;
}

.download{
    width: 50%;
    margin: 0 auto;
    background-image: url("../img/stars.svg");
    background-repeat:no-repeat;
}

.download h3{
    font-weight: bold;
    margin-bottom: 20px;

}

.download .btn{
    color:white;
    background-color: #8ea1e1;
}

/*----------
    /Main
------------*/

/*----------
    Footer
------------*/

.big-col, .foot-col{
    float: left;
}

.big-col{
    padding-top: 40px;
    width: 25%;
    padding-right: 10%;
}

.big-col > h4{
    font-size: 28px;
    margin-bottom: 20px;
}

.big-col img{
    width: 20px;
}

.foot-col{
    padding-top: 48px;
    width: calc(75% / 4);
    
}

.symbol{
    font-size: 20px;
    margin-top: 20px;
}

.symbol i{
    margin-right: 20px;
}

hr{
    margin-bottom: 50px;
}

.lst-footer{
    padding-bottom: 50px;
}