/*---------- 
    Reset
------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*----------
    Debug Zone
------------*/
.debug nav{
    min-height: 80px;
    background-color: blue;
}

.debug .container{
    min-height: 100px;
    background-color: red;
}

.debug .jumbo{
    min-height: 500px;
    background-color: green;
}

.debug .container.jumbo-text{
    min-height: 500px;
    background-color: violet;
}
/*----------
    Debug Zone
------------*/

/*----------
    Common
------------*/

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*----------
    Nav-bar
------------*/

header{
    background-color: #255EE8;
}

nav{
    padding: 20px 0px;
}

.logo-elem,.login{
    width: 20%;
    float: left;
}

.main-nav{
    padding-top: 10px;
    width: 60%;
    float: left;
}

.main-nav ul{
    text-align: center;
}

.main-nav ul li{
    display: inline-block;
}

.main-nav ul li a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
}

.login{
    padding-right: 10px;
    text-align: right;
}

.btn-small{
    border: 0px;
    border-radius: 20px;
    padding: 10px 12px;
}

/*----------
    /Nav-bar
------------*/

/*----------
    Jumbo
------------*/

.jumbo{
    position: relative;
    height: 550px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.container.jumbo-text{
    width: 30%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
}

.jumbo-text h1{
    margin-bottom: 45px;
}

.jumbo-text p{
    margin-bottom: 30px;
}

.btn{
    border: 0px;
    padding: 15px;
    border-radius: 20px;
    margin-right: 30px;
}

.btn-black{
    background-color: black;
    color: white;
}

i{
    margin: 5px;
}


/*----------
    /Jumbo
------------*/


/*----------
    Main
------------*/
